*.class

# Package Files #
*.jar
*.war
*.ear
/dist/
/build/
/nbproject/private/
/LolNetcommandsign/nbproject/private/
/CustomVersionCommand/nbproject/private/
/CustomVersionCommand/dist/
/CustomVersionCommand/build/
/LolnetSuicidePunisher/nbproject/private/
/LolnetIpCheck/nbproject/private/
/LolnetLobbyInfoBar/nbproject/private/